@font-face {
	font-family: 'iconfont'; /* Project id 2745906 */
	src: url('//at.alicdn.com/t/font_2745906_zvo7aim3k88.woff2?t=1638694300892') format('woff2'), url('//at.alicdn.com/t/font_2745906_zvo7aim3k88.woff?t=1638694300892') format('woff'), url('//at.alicdn.com/t/font_2745906_zvo7aim3k88.ttf?t=1638694300892') format('truetype');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconfont-shouji:before {
	content: '\e692';
}

.iconfont-sousuo1:before {
	content: '\e601';
}

.icon-sousuo:before {
	content: '\e651';
}

.icon-yanjing_kai:before {
	content: '\e61b';
}

.icon-yanjing_bi:before {
	content: '\e638';
}

.icon-jian:before {
	content: '\e641';
}

.icon-gouwuche1:before {
	content: '\e605';
}

.icon-arrow-right-copy-copy-copy:before {
	content: '\e678';
}

.icon-arrow-right-copy-copy-copy-copy:before {
	content: '\e679';
}

.icon-arrowRight-copy:before {
	content: '\e677';
}

.icon-jiantou1:before {
	content: '\e600';
}

.icon-jiantou:before {
	content: '\e618';
}

.icon-jiantou-copy:before {
	content: '\e67a';
}
